//cards

.shadow {
    box-shadow: 0 .5rem 1rem rgba($dark, .08) !important;
}

.card {
    border:0 !important;
}

div.snippet code {
    font-size: 90%;
    display:block;
    background: $dark;
    color: $light;
    border-radius: .3rem;
    padding: 1rem;
}